<header>
  <div class="clock">
    <h1>Gorący <br><span style="color:#fff;">czwartek</span></h1>
    <div class="hours-container">
      <div class="hours"></div>
    </div>
    <div class="minutes-container">
      <div class="minutes"></div>
    </div>
    <div class="seconds-container">
      <div class="seconds"></div>
    </div>
    <div class="now"><p><span>właśnie</span> trwa!</p></div>
  </div>
  <div class="discount">
    <div class="discount-title"><p>rabaty nawet do <span>80%</span></p></div>
    <div class="discount-img"><img src="css/free-delivery.png" width="100px" height="100px" alt=""> </div>
  </div>
  <div class="to-end">
      <p class="title">do konca pozostało</p>
    <div>
      <span class="time">{{left[3]}}</span>
      <span class="descr">dni</span>
    </div>
    <div class="time">:</div>
    <div>
      <span class="time">{{left[2]}}</span>
      <span class="descr">godz</span>
    </div>
    <div class="time">:</div>
    <div>
      <span class="time">{{left[1]}}</span>
      <span class="descr">min</span>
    </div>
    <div class="time">:</div>
    <div>
      <span class="time">{{left[0]}}</span>
      <span class="descr">sek</span>
    </div>
  </div>
</header>
