    <header>
     <article class="clock">
       <h1>Gorący <span style="color:#fff;">czwartek</span></h1>
    <div class="hours-container">
      <div class="hours"></div>
    </div>
    <div class="minutes-container">
      <div class="minutes"></div>
    </div>
    <div class="seconds-container">
      <div class="seconds"></div>
    </div>
  </article>
      <div class="trwa">
        <h2><strong>WŁAŚNIE </strong>TRWA</h2>
      </div>
      <div class="dostawa"></div>
      <div class="rabaty">
        <h3>Rabaty nawet do<br> <span>80%</span></h3>
      </div>
      <div class="reszta">
        <p>Do końca pozostało</p>
        <div class="dni">4</div>
        <div class="godz">11</div>
        <div class="min">16</div>
        <div class="sek">42</div>
      </div>
    </header>
